body{
	background: #f0f3f5; 
}

header, footer, .menu-loans{
	background: #434343!important;
    color: #beb6a3;
    padding: 4px;
}
a.nav-link{
	background: #434343!important;
	color: #beb6a3 !important; 
}

a.nav-link:hover{
	color: #FFDE99 !important;
	text-decoration: none;
}
 a.active{
	color: #FFDE99 !important;
}
a.info:hover{
	cursor: pointer;
	text-decoration: none;
}
.book:hover{
	box-shadow: -3px 4px #88888888;
}
textarea {
   resize: none;
}
#error-login{
	float: left;
}

#cover-preview{
	background-image: url("../images/cover.png");
	background-size: cover;
	border: 1px black solid;
	height: 200px;
	width: 150px;
	
}

#user-pic{
	background-image: url("../images/default-user.png");
	background-size: cover;
	border: 1px black solid;
	height: 150px;
	width: 150px;
}